*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
	font-weight: normal;
}

html {
	scroll-behavior: smooth;
	font-size: 15px;
}

body {
	word-break: keep-all;
	background: #202020;
	color: white;
	margin: 1.1rem;
	font-family: 'Merriweather', 'Hahmlet', serif;
	font-size: 1rem;
	line-height: 1.7;
	overflow-x: hidden;
	overflow-y: auto;
}

.start a {
	color: #84C6F7;
}

a {
	color: #fff;
}

/*.nav_undertalk {
	display: inline-block;
	background-color: #84C6F7;
	outline: solid white .25rem;
	padding: .5rem;
	margin-top: 1rem;
	color: #fff;
	margin-left: 1rem;
}*/

.inner {
	color: #fff;
}

.start {
	background: #fff;
	color: #202020;
	padding: 1rem;
	margin-bottom: 1.5rem;
	border-radius: 1rem;
}

.seungyeon {
	display: inline-block;
	width: fit-content;
	background: #84C6F7;
	color: #202020;
	padding: 1rem;
	margin-right: 1rem;
	margin-left: 1.5rem;
	border-radius: 1rem;
	grid-column-start: 1;
	grid-column-end: 2;
	justify-self: end;
	}

.right {
	display: grid;
	grid-template-columns: 4fr .3fr;
	margin-bottom: 1.5rem;
}

.right img {
	width: 3rem;
	height: 3rem;
	grid-column-start: -2;
	grid-column-end: -1;
	justify-self: start;
}

.woojin {
	display: inline-block;
	width: fit-content;
	background: #E89AC8;
	color: #202020;
	padding: 1rem;
	margin-left: 1rem;
	margin-right: 1.5rem;
	border-radius: 1rem;
	grid-column-start: 2;
	grid-column-end: 3;
}

.woojinkeeptalk {
	display: inline-block;
	width: fit-content;
	background: #E89AC8;
	color: #202020;
	padding: 1rem;
	margin-left: 1rem;
	margin-right: 1.5rem;
	border-radius: 1rem;
	grid-column-start: 2;
	grid-column-end: 3;
}

.left {
	display: grid;
	grid-template-columns: .3fr 4fr;
	margin-bottom: 1.5rem;
}

.left img {
	float: left;
	width: 3rem;
	height: 3rem;
	border-radius: .7rem;
}

.left a {
	color: #fff;
}

.iphone12 {
	display: none;
}

@media screen and (min-width: 600px) {
	body {
		display: flex;
		justify-content: center;
		position: relative;
		align-items: center;
		height: 100vh;
		margin: 0;
	}

	.iphone12 {
		z-index: 0;
		display: block;
		height: 85vh;
	}

	.talkwithwoojin {
		z-index: 1;
		width: 33vh;
		height: 74.5vh;
		display: block;
		position: absolute;
		top: 15vh;
		overflow: auto;
		border-radius: 1rem;
		padding-bottom: 2rem;
	}

}