*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-weight: normal;
}

body {
	word-break: keep-all;
	background: #84C6F7;
	color: #202020;
	margin: 30px;
	font-family: "Hahmlet", serif;
  line-height: 1.7;
}

a {
	color: #84C6F7;
}

h1 {
	font-size: 20px;
}

.ilovedyou_area {
		max-width: 450px;
		margin: 0 auto;
		background-color: white;
		padding: 30px;
}

.nav {
  display: inline-block;
  background-color: #84C6F7;
  outline: solid white 3px;
  padding: 15px;
  margin-bottom: 20px;
  margin-right: 20px;
  color: white;
}